@import 'tailwindcss';

:root {
  color: var(--color-light);
  background-color: var(--color-dark);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-dark: #242424;
  --color-light: rgba(255 255 255 / .87);
  
  --color-close-btn: #FF605C;
  --color-maximize: #FFBD44;
  --color-minimize: #00CA4E;
}


/* Custom Components */
.frame-window {
  -webkit-app-region: drag;

  & button {
    -webkit-app-region: no-drag;
  }
}